/* GENERAL */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#fdfaf7;
    color:#333;
}

/* SECCIONES */

section{
    padding:100px 0;
}

/* HERO */

#hero{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;

    background:linear-gradient(
        rgba(0,0,0,.35),
        rgba(0,0,0,.35)
    ),
    url("../img/valentina.jpg");

    background-size:cover;
    background-position:center;
    color:white;
}

#hero img{
    width:250px;
    height:250px;
    object-fit:cover;
    border-radius:50%;
    border:5px solid white;
    margin-bottom:25px;
}

#hero h1{
    font-size:5rem;
    font-weight:300;
    letter-spacing:4px;
}

#hero h2{
    font-size:2rem;
    font-weight:300;
    margin-bottom:15px;
}

#hero p{
    font-size:1.2rem;
}

/* BOTONES */

.btn-custom{
    display:inline-block;

    margin-top:25px;
    padding:14px 35px;

    border-radius:50px;

    background:#d4af37;
    color:white;

    text-decoration:none;

    transition:.3s;
}

.btn-custom:hover{
    background:#b89422;
    color:white;
}

/* TITULOS */

section h2{
    text-align:center;
    margin-bottom:40px;
    font-weight:600;
}

/* CONTADOR */

#contador{
    background:white;
}

#contador .col{
    padding:20px;
}

#contador .col div{
    font-size:3rem;
    font-weight:700;
    color:#d4af37;
}

#contador span{
    font-size:1rem;
    text-transform:uppercase;
}

@media (max-width: 480px) {
  #contador div[id] {
    font-size: 28px !important;
  }
  #contador span {
    font-size: 12px !important;
  }
}

/* UBICACIÓN */

#ubicacion{
    background:#f7f1ea;
}

#ubicacion p{
    margin-bottom:10px;
    text-align:center;
}

/* REGALOS */

#regalos{
    background:white;
}

#regalos img{
    max-width:250px;
    width:100%;
    margin-top:20px;
}

/* CONFIRMACION */

#confirmacion{
    background:#f7f1ea;
}

#confirmacion p{
    margin-bottom:30px;
}

/* FOOTER */

footer{
    background:#222;
    color:white;
    padding:25px;
}

footer p{
    margin:0;
}

/* RESPONSIVE */

@media (max-width:768px){

    #hero h1{
        font-size:3rem;
    }

    #hero h2{
        font-size:1.3rem;
    }

    #contador .col div{
        font-size:2rem;
    }

}

/*ubicacion*/
.icono-mapa{
    width:80px;
    height:80px;
    display:flex;
    justify-content:center;
    align-items:center;

    margin:20px auto;

    border-radius:50%;
    background:#d4af37;

    color:white;
    font-size:2.5rem;
    text-decoration:none;

    transition:.3s;
}

.icono-mapa:hover{
    background:#b89422;
    color:white;
    transform:scale(1.1);
}